# git hub ignore file 

.[a-z]*
!.tmux.conf
!.zshrc
!.zshenv
!README.md
!LICENSE
!.gitignore
!.config/nvim
!.zshenv
!.zshrc

Applications
Desktop
Documents
Downloads
LICENSE
Library
Movies
Music
Pictures
Public
README.md
VirtualBox VMs
Zotero
go
go-vim
powerlevel10k
repo
