.config/yarn
.bash_history
.bash_logout
.bashrc
.cache
.cargo
.cobra.yaml
.dbus
.degit
.emacs.d
.fzf
.fzf.bash
.fzf.zsh
.giget
.git
.gitconfig
.java
.landscape
.local
.motd_shown
.node_repl_history
.npm
.npmrc
.nvm
.oh-my-zsh
.p10k.zsh
.poshthemes
.profile
.rustup
.sdkman
.ssh
.sudo_as_admin_successful
.tmux
.vim
.viminfo
.vscode-server
.wget-hsts
.yarn
.yarnrc
.zcompdump
.zcompdump-x299-5.8
.zcompdump-x299-5.8.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
SBOM.md
bootstrap.sh
demo.txt
demo2.txt
go
lesson1.md
nft-lab
nft-lab.tar
powerlevel10k
repos
secp256k1-key.pem
secp256k1.pem
tools
world.js
hardhat-nodejs
dlv
.config/nvim/plugin/packer_compiled.lua
